@use '../base/variables' as *;
@use '../base/mixins' as *;

.body-contact{

    
.division-contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 130px 74px 80px;
  position: relative;
  background-image: url(../assets/images/Galerie1.png);
  background-size: cover;
  background-position: 50% 50%;
  gap: 60px;
}


.division-contact .section-information {
  display: flex;
  flex-direction: column;
  width: 751px;
  align-items: center;
  padding: 20px 50px;
  position: relative;
  background-color: #00000038;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10.1px #00000040;
}

.division-contact .information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.division-contact .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.division-contact .vous-avez-une {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.division-contact .capture {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 429.86px;
  object-fit: cover;
}

.division-contact .div {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 7px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

/* couleul texte et icons*/

.division-contact .div .img,
.division-contact .div .p,
.division-contact .div .acoo-acoo-fr {
  color: #fff !important;
  /* Pour les images : */
  filter: brightness(0) invert(1);
}


.division-contact .img {
  position: relative;
  width: 42px;
  height: 42px;
}

.division-contact .p {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.division-contact .acoo-acoo-fr {
  position: relative;
  width: fit-content;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.division-contact .formulaire-contact {
  display: flex;
  flex-direction: column;
  width: 470px;
  align-items: center;
  gap: 18px;
  padding: 49px 103px;
  position: relative;
  background-color: #eaedf7;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10.6px #00000040;
}

.division-contact .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.division-contact .input-field {
  display: flex;
  flex-direction: column;
  width: 396px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  margin-left: 0px;
  margin-right: 0px;
}

.division-contact .input {
  display: flex;
  min-width: 240px;
  align-items: center;
  justify-content: center;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.division-contact .input {
  height: 48px;
  min-height: 48px;
  /* pour forcer la hauteur même si le contenu change */
  display: flex;
  align-items: center;
}

.division-contact .value-wrapper {
  height: 48px;
  min-height: 48px;
  line-height: 48px;
  box-sizing: border-box;
}


.division-contact .value {
  position: relative;
  flex: 1;
  margin-top: -0.50px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.division-contact .value-wrapper {
  min-width: 240px;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
  flex: 1;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.division-contact .textarea-field {
  display: flex;
  flex-direction: column;
  width: 396px;
  height: 124px;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}

.division-contact .textarea {
  display: flex;
  min-width: 240px;
  min-height: 80px;
  align-items: flex-start;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.division-contact .value-2 {
  position: relative;
  flex: 1;
  margin-top: 0px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.division-contact .drag {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 111px;
  left: 384px;
}

.division-contact .bouton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px 52px;
  position: relative;
  flex: 0 0 auto;
  background-color: #39496a;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 18.3px #00000040;
}

.division-contact .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: 0px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.division-contact .frame {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.division-contact .ig-instagram-media {
  position: relative;
  width: 46px;
  height: 46px;
  object-fit: cover;
}

.division-contact .facebook {
  position: relative;
  width: 60px;
  height: 56px;
  object-fit: cover;
}

.division-contact .picto-twitter {
  position: relative;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
}
