@use '../base/variables' as *;

#menu_club {
  
  width: 200px;


  .full-menu{
    display: flex;
    flex-direction: column; // 👉 pour menu vertical
    align-items: flex-start; // alignement à gauche (peut être center ou autre selon besoin)
    gap: 20px;
    padding: 20px;
    width: 12%;
    margin: 30px 0px;
  }


  .select-menu {
    display: none;
  }

  .ram {
    position: relative;
    width: 300px; // 👉 largeur visible de la rame
    height: 60px; // 👉 hauteur de la zone cliquable
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateX(15px); // 👉 effet de décalage
    }

    img {
      position: absolute;
      top: 50%;
      left: -60%;
      width: 200px; // 👉 même taille que .ram
      transform: translateY(-50%) rotate(90deg);
      z-index: 0;
      pointer-events: none;
    }

    span {
      position: absolute;
      top: 50%;
      left: 38%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: bold;
      font-size: 14px;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
      z-index: 1;
      white-space: nowrap;
      pointer-events: none;
    }
  }
}

// ➡️ À partir de 1120px et en-dessous : masquer le menu complet
@media screen and (max-width: 720px) {

  #club_container {
    padding: 0 20px 0 20px;
    margin-top: 6.5%;
    display: flex;
    overflow: hidden;

    #menu_club {
      
      width: auto;
      .full-menu {
        display: none;
      }

      .select-menu {
        display: block;
        position: sticky;
        top: 100px;
        left: 300px;
        border: 1px solid $primary-color;
        width: 110px;
        border-radius: 8px;

        #select_nav{
          border: none;
          background: none;
          padding: 4px;
        }
      }
    }
  }
}

// @media screen and (max-width: 640px) {
//     #club_container #menu_club .select-menu {
//         top: 18%;
       
//     }
// }
// @media screen and (max-width: 320px) {
//     #club_container #menu_club .select-menu {
//         top: 20%;
       
//     }
// }
// @media screen and (max-width: 425px) {
//     #club_container #menu_club .select-menu {
//         top: 18%;
       
//     }
// }
// @media screen and (max-width: 568px) {
//     #club_container #menu_club .select-menu {
//         top: 17%;
       
//     }
// }
