@use '../base/functions' as *;
@use '../base/variables' as *;
@use '../base/mixins' as *;

.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        color: $primary-color;
        font-size: 48px;
        font-weight: bold;
    }

    .cta-container {
        margin: 48px 0;
    }
}