@use '../base/functions' as *;
@use '../base/variables' as *;
@use '../base/mixins' as *;


.container_sidebar{

    width: 100%;
        position:sticky;
    top: 0;
    z-index: 1;
    flex-shrink: 0;


    height: 100vh;
   
    background-color: white;

    .container_navigation{
         padding: $spacer*4 $spacer*4;

    .container_nav_logo{
        display: flex;
        justify-content: center;

        img{
            width: 32%;
        }
    }
    
    .container_nav_second{

        ul{
            padding: 0px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-weight: 550;
            font-size: 0.8em;
            color: $gray-color;

            li{
                list-style: none;
                display: flex;
                gap: 4%;
                align-items: center;
                cursor: pointer;
                


                span{
                    transition: transform 0.5s ease-in-out;

                    &:hover{
                    color: #3a496b;
                    transform: scale(1.1);
                    }
                }
                
        
                img{
                    width: 6%;
                }
            }
        }
    
    
        .container_nav_system{
            border-top: 1px solid black;
        }
    }

    .container_nav_connexion{
        margin-top: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-logout{
            width: 70%;
        }
    }


}

.sidebar-active,
.container_nav_pages li.active,
.container_nav_system li.active {
  background: $primary-color; 
  color: white;
  border-radius: 8px;
  padding: $spacer*1 $spacer*2;
}

}

