@use '../base/functions' as *;
@use '../base/variables' as *;
@use '../base/mixins' as *;

.organigramme-container {
  background: $white-color;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 500px;
  margin: auto;
  font-family: $font-family;
  color: $black-color;

  h2 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: $primary-color;
  }

  .members {
    display: grid;
    gap: 1.5rem;
  }

  .member {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 1rem;

    img {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      object-fit: cover;
    }

    .info {
      .name {
        font-weight: 700;
        color: $black-color
      }

      .role {
        font-size: 0.9rem;
        color: $gray-color;
        margin-top: 0.2rem;
      }
    }

    .edit {
      color: $primary-color;
      font-size: 0.9rem;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
