<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">

</head>
<body>

<section style="display: flex; flex-direction: column;">

        <div style="margin-bottom: 50px;" >

          <a href="../index.html">
          <button class="btn-primary">
        RETOUR AU TEMPLATE
      </button>
      </a>

      </div>


 <section class="palmares-champions">
   
    <div class="champion-card">
      <img src="../../assets/images/champion1.png" alt="Champion" class="champion-card__image">
      <div class="champion-card__content">
        <h3 class="champion-card__title">Hervé RANCIR</h3>
        <p class="champion-card__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <button class="btn-primary">EN SAVOIR +</button>
      </div>
    </div>
    <div class="champion-card">
      <img src="../../assets/images/champion1.png" alt="Champion" class="champion-card__image">
      <div class="champion-card__content">
        <h3 class="champion-card__title">Hervé RANCIR</h3>
        <p class="champion-card__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <button class="btn-primary">EN SAVOIR +</button>
      </div>
    </div>

  </section>

 


</body>
</html>