<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">

</head>
<body>



<section style="display: flex; flex-direction: column;">

        <div style="margin-bottom: 50px;" >

          <a href="../index.html">
          <button class="btn-primary">
        RETOUR AU TEMPLATE
      </button>
      </a>

      </div>

<section class="event-section">

    <!-- <h2 class="event-section__title">ACTUALITÉS</h2> -->
          <h2 style="text-align: center;" >EVENT CARD (Page Evenement)</h2>


    <div class="event-card">
      <img src="https://placehold.co/483x483" alt="Illustration événement" class="event-card__image">
      <div class="event-card__content">
        <div class="event-card__tag">
          <img src="https://placehold.co/50x50" alt="Logo activité">
          <div class="event-card__tag-text">Aviron Indoor</div>
        </div>
        <h3 class="event-card__title">Compétition le 22 octobre</h3>
        <p class="event-card__description">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it.
        </p>
       
        <a href="#" class="">
          <button class="btn-primary">VOIR +</button>
        </a>
      </div>
    </div>
  </section>

  <section class="event-section-accueil">
  <div class="event-section-accueils__header">
    <h2>EVENT CARD (Page Accueil)</h2>
  </div>
  <div class="event-section-accueil__cards">
    <div class="event-mini-card">
      <div class="event-mini-card__date">
        <span class="event-mini-card__day">6</span>
        <span class="event-mini-card__month">JUIN</span>
      </div>
      <div class="event-mini-card__divider"></div>
      <div class="event-mini-card__content">
        <div class="event-mini-card__title">Lorem Ipsum</div>
        <div class="event-mini-card__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      </div>
    </div>
    <div class="event-mini-card">
      <div class="event-mini-card__date">
        <span class="event-mini-card__day">6</span>
        <span class="event-mini-card__month">JUIN</span>
      </div>
      <div class="event-mini-card__divider"></div>
      <div class="event-mini-card__content">
        <div class="event-mini-card__title">Lorem Ipsum</div>
        <div class="event-mini-card__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      </div>
    </div>
  </div>
  <div class="event-section-accueil__cta">
    <button class="btn-primary">VOIR LE CALENDRIER</button>
  </div>

    


</section>


</body>
</html>