

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">

</head>
<body>

    
      <div style="margin-bottom: 50px;" >

          <a href="../index.html">
          <button class="btn-primary">
        RETOUR AU TEMPLATE
      </button>
      </a>

      </div>

        <div class="section">
        <h2 style="text-align: center;" >Tableau</h2>
        <!-- Table Responsive Générique -->
<section class="table-section">
  <div class="table__container">
    <div class="table__header">
      <h2 class="table__title">Titre du tableau</h2>
    </div>
    <div class="table__wrapper">
      <table class="table">
        <thead>
          <tr>
            <th>Colonne 1</th>
            <th>Colonne 2</th>
            <th>Colonne 3</th>
            <th>Colonne 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Donnée 1</td>
            <td>Donnée 2</td>
            <td>Donnée 3</td>
            <td>Donnée 4</td>
          </tr>
          <!-- Autres lignes -->
        </tbody>
      </table>
    </div>
  </div>
</section>
       
    </div>
</body>
</html>